/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /* colors definition */
  --main-color: #00030c;
  --secundary-color: #ffffff;
  --terciary-color: #167BF7;
  --legend-color: #c0c0c0;
  --p-color: #f9f9f9;
  --hover_click: purple;
  /* font definition */
  --main-font: "Inter", sans-serif;
  --principal-size: 1rem
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
  box-sizing: border-box;
  color: var(--secundary-color);
  font-family: var(--main-font);
}

.principal {
  background-image: url("Assests/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__box {
  margin: 0 6em;
}

.principal__h1 {
  font-family: var(--main-font);
  font-size: 1.75rem;
  font-weight: 700;
}

.principal__img {
  width: 21.75rem;
  margin: 1em 0 2em 0;
}

.principal__anchor {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--principal-size);
  color: var(--secundary-color);
  background-color: var(--terciary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: block;
  margin-bottom: 1em;
}

.snd__anchor {
  background-color: transparent;
  border: 0.0625rem solid var(--secundary-color);
}

.container__warning {
  font-family: var(--main-font);
  color: var(--legend-color);
  font-size: 0.75rem;
  font-weight: 400;
}

.second {
  align-items: center;
  margin: 0 6em;
}

.title__description {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secundary-color);
  margin-bottom: 0.1em;
}

.p__descrip {
  font-size: var(--principal-size);
  font-weight: 400;
  color: var(--legend-color);
  margin-bottom: 1em;
}

.second__img {
  width: 80%;
}

.trd__anchor {
  display: inline-block;
  text-align: center;
}

.third {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.scnd__title__dscp {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.complement {
  font-size: 2rem;
}

.device__list {
  display: flex;
  justify-content: center;
  margin: 5em 0;
  list-style-type: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__list {
  display: flex;
  list-style-type: none;
}

.links__list {
  padding: 2.5rem 1rem 1.5rem 1rem;
}

.footer__img {
  width: 6.375rem;
}

.footer__info__anchor {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--principal-size);
  color: var(--secundary-color);
  text-decoration: none;
  
}

.footer__info__anchor:hover {
  color: var(--terciary-color);
}

.trd__anchor:hover, .principal__anchor:hover {
  background-color: var(--hover_click);
}

.footer__info__anchor:active {
  color: var(--hover_click);
}

.footer__info__p {
  color: var(--legend-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}